*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    margin: 1rem;
    display: grid;
    align-items: center;
}
.name_email, .password_age, .date_phone{
    display: flex;
    align-items: center;
}

p{ 
    margin: 0;
    padding: 0;
    height: 2rem;
    font-size: .9rem;
    font-weight: 600;
}
input{
    margin: 0;
    padding: 0;
    height: 2rem;
    width: 17rem;
}
::placeholder{
    padding: 1rem;
}
.name, .password, .experimentDate{
    height: 4rem;
    margin-right: 2rem;
    margin-bottom: .8rem;
    margin-left: 1rem;
}
.email, .age, .phone{
     height: 4rem;
    margin-right: 2rem;
    margin-bottom: .8rem;
    
}
.button{
    justify-content: center;
}
legend{
    border: 0;
    padding: .7rem;
    background-color: rgba(106, 106, 224, 0.911);
    border-radius: .4rem;
    margin-left: 1rem;
}
fieldset{
    border: 0;
    border-radius: .4rem;
    height: 20rem;
    width: 20rem;
    background-color: rgba(97, 97, 138, 0.61);
}
.name_email{
    margin-top: 1rem;
}
.button{
    margin-top: 1rem;
    margin-left: 15rem;
    height: 2rem;
}
.submit, .clear{
    border: 0;
    height: 2rem;
    padding: .3rem;
    border-radius: .4rem;
    background-color: rgba(0, 0, 255, 0.397);
    font-weight: 600;

}
.clear{
    background-color: rgba(240, 62, 62, 0.651);
}